/* Variables - Пременные
========================================================================= */
:root {
    /* Ширина контейнера (Воодить без учета внутрених отступов) */
    --containerWidth: 1320px;
    /* Осноыной цвет текста */
    --primaryColor: #333;
    --primaryColorWithOpacity: rgba(51, 51, 51, 0.23);
    /* Основной цвет заголовков */
    --titleColor: #333;
    /* Основной шрифт текста */
    --primaryFont: 'Arial';
    /* Основной шрифт Заголовков */
    --titleFont: 'Arial';
    /* Цвет навигации */
    --navBgColor: #D7D7D7;

    /* Ширина кнопок (для центирования пригодиться) */
    --navButtonsWidth: 66px;
    --navHeight: 66px;

    --borderColor: #797979;
    --buttonTextColor: black;
    --sectionColor: #F2F2F2;
    --arrowSymbol: "➤";

    --hoverColor: rgb(85, 85, 237);
}

/* Начальные обнуляющие стили
========================================================================= */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--primaryFont);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--titleFont);
    color: var(--titleColor);
}

.container {
    width: 100%;
    max-width: calc(var(--containerWidth) + 30px);
    margin: 0 auto;
    padding: 0 15px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.btn {
    overflow: unset;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    padding: 15px 36px;
    border-radius: 5px;

    border: 1px solid var(--borderColor);
    background: transparent;
    color: var(--buttonTextColor);

    transition: background 0.2s ease-in-out, color 0.2s ease, transform 0.2s ease-in-out;
}


.btn._negative {
    color: white;
    background: #000;
}

.btn:hover {
    background: var(--buttonTextColor);
    color: white;
    transform: scale(.9);
}


.btn._negative:hover {
    background: white;
    color: var(--buttonTextColor);
}

#menu {
    display: none;
}

body:has(#menu:checked) {
    overflow: hidden;
}

a {
    transition: color .2s ease-in-out;
}

a:hover {
    color: var(--hoverColor);
}

/* Navigation - Навигиционная панель сайта
========================================================================= */
.nav {
    width: 100%;
    background: var(--navBgColor);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav__content {
    width: 100%;

    display: flex;

    justify-content: space-between;
    align-items: center;

    padding: 15px 0;

}

.nav__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    width: 100%;
    max-width: var(--navButtonsWidth);
}

.nav__button {
    width: 25px;
    height: 25px;

    border-radius: 5px;
    border: 1px solid var(--primaryColor);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.nav__button:hover {
    transform: scale(.9);
}


.nav__button._burger {
    padding: 0px 5px;
    flex-direction: column;
    gap: 2px;

    position: relative;
}

.nav__button>image {
    width: 100%;
}

._burger>span._line {
    display: block;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 2px;

    transition: all .2s linear;
}

#menu:checked+label ._line:first-child {
    position: absolute;
    display: flex;
    transform: rotate(45deg) scale(0.8);
}

#menu:checked+label ._line:last-child {
    position: absolute;
    display: flex;
    transform: rotate(-45deg) scale(0.8);

}

#menu:checked+label ._line:nth-child(2) {
    opacity: 0;
}


.logo {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 32px;
    color: var(--titleColor);
}

.auth__buttons {
    display: block;
    width: var(--navButtonsWidth);
}

.auth__button {
    display: none;
}


.nav__menu {
    position: fixed;
    top: var(--navHeight);
    left: -100%;
    height: calc(100vh - var(--navHeight));
    width: 100%;

    background: transparent;

    transition: left .2s linear, background .4s linear;
}

.nav:has(#menu:checked) .nav__menu {
    left: 0;

    background: rgba(0, 0, 0, 0.713);
}

.nav__menu-content {
    display: flex;
    flex-direction: column;

    padding: 10px 12px;
    background: white;
    max-width: 375px;
    height: inherit;

    gap: 10px;
}

.seach__form {
    display: flex;
    justify-content: center;
    width: 100%;

    gap: 10px;

}

.seach__form-input {
    flex-grow: 1;
    padding: 5px;
}

.seach__form-btn {
    aspect-ratio: 1;
    width: unset;
    height: 100%;
}

.nav__menu-buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.nav__menu-button {
    padding: 10px;
    text-transform: uppercase;
}


.nav__list {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    gap: 6px;
    margin-top: 20px;
}


.nav__list-link {
    display: flex;
    justify-content: center;
    border: 1px solid var(--primaryColor);
    padding: 17px;
    font-size: 13px;
    text-transform: capitalize;
    color: var(--primaryColor);
    width: 100%;
    height: 100%;

    transition: transform 0.2s ease-in-out;
}

.nav__list-link:hover {
    transform: scale(1.05);
}


/* Header - Шапка сайта
========================================================================= */
.header {
    width: 100%;
}

.header__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.header__list {
    display: none;
}

.header__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 15px;
}



.post__link {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;

}

.main__title {
    font-weight: 600;
    /* https://clamp.font-size.app/ */
    font-size: clamp(1.375rem, 1.2213rem + 0.6557vw, 2rem);
    text-align: center;
    width: 100%;
    max-width: 286px;
    transition: color .2s ease-in-out;

}



.post .descr {
    font-size: clamp(0.8125rem, 0.7664rem + 0.1967vw, 1rem);
    text-align: center;
    transition: color .2s ease-in-out;

}

.post__image {
    transition: transform 0.2s ease-in-out;
    width: 100%;
    flex-grow: 1;
    display: block;
}

.post__link:hover .post__image {
    transform: scale(0.95);
}

.post__image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.post__title {
    text-align: center;
    transition: color .2s ease-in-out;
}

.post__link:hover .descr,
.post__link:hover .post__title {
    color: var(--hoverColor);
}


.post__link .post__txt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}


/* Main - контент сайта
========================================================================= */
.main {
    width: 100%;
    flex-grow: 1;
    /* margin: 100px 0; */
}

.main__content {
    width: 100%;
}

section.section {
    display: flex;
    flex-direction: column;
    padding: 10px 0 40px;
    position: relative;
}

section.section::before,
section.section.ai::after {
    content: '';
    display: block;

    width: 100%;

    height: 3px;
    background: var(--primaryColor);

    position: absolute;
    top: 0;
    left: 0;
}

section.section.ai::after {
    top: unset;

    bottom: 0;
}

.section__title {
    font-weight: 600;
    font-size: clamp(0.8125rem, 0.7049rem + 0.459vw, 1.25rem);
    display: flex;

    align-items: center;
    width: max-content;
    gap: 10px;
}

.section__title::after {
    content: var(--arrowSymbol);
}

.more__grid {
    margin-top: 50px;

    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    border-top: 3px solid var(--primaryColor);
    gap: 30px;
}



.ai__grid {
    border-top: 3px solid var(--primaryColor);
    padding-top: 30px;
    margin-top: 50px;

    display: grid;

    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

.ai__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;

    width: 100%;
}


.ai__grid-post {
    padding-bottom: 20px;
    border-bottom: 4px solid var(--primaryColorWithOpacity);
}

/* Footer - Подвал сайта
========================================================================= */
.footer {
    width: 100%;

}

.footer__content {
    width: 100%;

}


.footer__section {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.footer__section:first-child {
    border-bottom: 3px solid var(--primaryColor);
}

.footer__logo {
    text-align: center;
    /* align-self: center; */
    margin-bottom: 20px;
    width: 100%;
    max-width: 250px;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__nav-link {
    color: var(--primaryColor);
    font-size: clamp(0.875rem, 0.8135rem + 0.2623vw, 1.125rem);
    font-weight: 600;
}

.footer__title {
    font-size: clamp(0.875rem, 0.8135rem + 0.2623vw, 1.125rem);
}


.footer__social-list {
    display: flex;
    width: 100%;
    gap: 24px;


}

.social__list-link {
    margin: 25px 0;
    display: flex;
    width: 25px;
    height: 25px;

    transition: transform 0.3s ease-in-out;
}

.social__list-link:hover {
    transform: scale(1.1);
}

.social__list-link>img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.tech__list {
    display: flex;
    row-gap: 10px;
    column-gap: 40px;
    flex-wrap: wrap;

    margin-bottom: 30px;
}

.tech__list-link {
    color: var(--primaryColor);
    font-size: clamp(0.75rem, 0.6578rem + 0.3934vw, 1.125rem);
    font-weight: 600;
}

@media (min-width: 640px) {
    .main__post {
        grid-column: 2 span;
    }


    .footer {
        background: var(--navBgColor);
    }

    .tech__list,
    .footer__nav-list {
        flex-direction: row;
    }

    .footer .footer__section {
        border: unset;
    }
}

@media (min-width: 768px) {
    .only__content {
        display: flex;
        justify-content: space-between;
        gap: 30px;
    }


    .post__link._big {
        flex-direction: row-reverse;
        align-items: stretch;
        gap: 40px;
        position: relative;
    }

    .sport__content .post__link._big {
        flex-direction: row;
    }

    .section:not(.sport, .ai) .post__link._big::after {
        content: '';
        display: block;

        position: absolute;

        height: 1px;
        width: 100%;
        background: var(--primaryColor);

        bottom: 2px;
        left: 0;
    }

    .post__txt,
    .post__link._big .post__image {
        width: 50%;
    }

    .sport .post__link._big .post__image,
    .ai .post__link._big .post__image {
        width: 65%;
    }

    .sport .post__link._big .post__txt,
    .ai .post__link._big .post__txt {
        width: 35%;
    }

    .post__txt .post__title,
    .post__txt .descr {
        text-align: left;
    }

    .post__txt .descr {
        flex-grow: 1;
    }

    .ai__grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .ai__grid-post:nth-child(2),
    .ai__grid-post:nth-child(3),
    .ai__grid-post:last-child {
        grid-column: span 2;
    }

    .ai__grid-post:nth-child(1) .post__image,
    .ai__grid-post:nth-child(5) .post__image,
    .ai__grid-post:nth-child(8) .post__image {
        flex-grow: 1;
    }
    
    .ai__grid-post:nth-child(1) .post__image > img,
    .ai__grid-post:nth-child(5) .post__image > img,
    .ai__grid-post:nth-child(8) .post__image > img {
        height: 100%;
    }

    .ai__grid-title {
        margin-bottom: -20px;
    }


}

@media (min-width: 950px) {



    .header__grid {
        grid-template-columns: repeat(3, minmax(280px, 1fr));
        column-gap: 30px;
        row-gap: 10px;
    }

    .main__post {
        grid-column: 2 / 2 span;
        grid-row: 1 / 2 span;
        justify-content: space-between;
    }

    .main__title {
        max-width: unset;
    }

    .more__grid {

        grid-template-columns: repeat(4, 1fr);
    }

    .more__grid .descr {
        padding: 0 15px;
        text-align: left;
    }
}

/* desctop */
@media (min-width: 992px) {
    .auth__buttons {
        display: flex;
        width: auto;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .auth__button {
        display: flex;
        text-transform: uppercase;
        font-size: 13px;
    }

    .logo:not(.footer__logo) {
        position: absolute;

        left: 50%;
        transform: translateX(-50%);
    }
    
    

    .header__list {
        display: flex;
        margin-bottom: 20px;
        justify-content: center;
    }

    .header__list-link {
        display: block;
        color: var(--primaryColor);
        font-size: 13px;
        border: 1px solid var(--primaryColor);
        padding: 16px 32px;
        transition: color 0.2s ease-in-out, background 0.2s ease-in-out, transform 0.2s ease-in-out;
    }

    .header__list-link:hover {
        color: white;
        background: var(--primaryColor);
        transform: scale(0.9);
    }

    ._section__bg {
        background: var(--sectionColor);
        padding: 30px;

        border-left: 1px solid var(--primaryColor);
        border-right: 1px solid var(--primaryColor);
    }
        
    
    .nav__menu-buttons {
        display: none;
    }
}